<%= render 'users/user', book: @book %>



<h2>Books</h2>

<div>
<span>Title</span>
<span>Opinion</span>
<span></span>
</div>

<% @books.each do |book| %>
<div>
  <span><%= link_to image_tag(book.user.profile_image, size: "80x80"),user_path(book.user_id) %></span>
  <span><%= link_to book.title, book_path(book.id) %></span>
  <span><%= book.body %></span>
</div>
<% end %>